# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset files
data/UrbanSound8K/
data/UrbanSound8K.tar.gz

# Training outputs
data/
# OS/editor files
.DS_Store
.vscode/
.idea/

saved_models/



